div.selectize-input,
input.streetaddress {
    border-width: 0 !important;
    border-bottom-width: 1px !important;
    border-bottom: 1px dotted #e0e0e0 !important;
    background-color: white !important;
    padding-bottom: 0.1em !important;
    transition: width 0.1s !important;
    font-family: monospace !important;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
    box-sizing: content-box !important;
}
div.selectize-input {
    padding-top: 0.2rem !important;
    background-image: none !important;
    box-shadow: none !important;
    max-width: 96%;
}
input.streetaddress[readonly] {
    color: #828282 !important;
    border-bottom-width: 0 !important;
}
input.streetaddress_optional {
    font-size: xx-small !important;
    height: 1.0rem;
}
input.streetaddress_optional_nonempty {
    font-size: inherit !important;
}
input.streetaddress_upper {
    text-transform: uppercase !important;
}
input.streetaddress_upper::placeholder {
    text-transform: none;
}
input.streetaddress_optional::placeholder {
    font-size: xx-small;
    text-align: right;
}
span.streetaddress_suffix {
    padding-left:  0.2rem;
    padding-right: 0.2rem;
}
div.streetaddress_frame {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 0.6rem;
}
div.streetaddress_unused_fields {
    display: none;
}
